@using SpaDay.ViewModel;
@model AddUserViewModel;
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">

        <h1>Sign Up</h1>

        @if (ViewBag.error != null)
        {
            <p class="alert-danger">@ViewBag.error</p>
        }

    <form method="post" action="/user/add">
        <div class="form-group">
            <label asp-for="Username">User Name</label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email Address</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type ="password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="Verify">Verify Password</label>
            <input asp-for="Verify" type ="password" />
            <span asp-validation-for="Verify"></span>
        </div>

        <input class="btn btn-primary form-control" type="submit" value="sign up" />
    </form>



    </div>
</div>
