@using SpaDay.Models;
@model User
@if (Model != null)
{
    <h1>Welcome to our Spa, @Model.Username !</h1>
}
else
{
    <h1>Welcome to our Spa !</h1>
}

<a asp-controller="Spa" asp-action="Index">Select Spa Services</a>


<div>
    <h2>Account Details</h2>
    <p>Email: @Model.Email</p>
    <p>Account created at: @Model.CreatedAt</p>
</div>